.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  /* flex-wrap: wrap; */
  margin-right: 2px;
  margin-left: 2px;
}

.service{
  padding-right: 0px;
    padding-left: 0px
}




.my-nav{
  /* position: absolute; */
  position: fixed;
  width: 100%;
  z-index: 999; 
  background-color: currentColor !important;
  /* border: 0; */
  /* border-radius: 0; */
  /* transition: .5s; */
  top: 0;

}
/* 
.my-nav.hide{
  transform: translateY(-100%);
} */


.my-carousel{
  padding-top: 190px;
}


.navbar-toggler:not(:disabled):not(.disabled) {
  background: white;
}




.navbar-light .navbar-nav .nav-link{
  color: orange;
  font-size: 33px;
  font-family: merriweather,serif;
  padding: 20px;
  font-weight: bolder;
  padding-bottom: 5px;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: white;
}

.dropdown-menu  a{
  color: orange;
  font-family: merriweather,serif;
  font-weight: bolder;
  font-size: 21px;
}

.dropdown-item:focus, .dropdown-item:hover{
  color: white;
    text-decoration: none;
    background-color: transparent;
    
}


.dropdown-menu.show {
  display: block;
  /* margin-left: 85%; */
  background: none;
  /* color: green; */
  background: currentColor;
}

/* --------------------------------------------carousel------------------------------------------------ */



#carousel-wrapper, #FirstSlider{
  padding-right: 0;
  padding-left: 0;
}

.carousel-caption{
  bottom: 8%;
  font-size: 50px;
  font-family: merriweather,serif;
  /* border: 2px solid white; */
}

.btn{
    background: transparent;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    border: 2px solid white;
        padding-left: 25px;
    padding-right: 25px;
}
.btn:hover{
background-color: orange;
color: green;
}


/* ----------------Section 1---------------------------- */

.sec1{
margin-top: 60px;  
}

 h2{
    font-size: 46px;
    line-height: 1.13043;
    text-transform: uppercase;
    font-family: merriweather,serif;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .12em;
    text-align: center;
    padding-bottom: 50px;
}

h4{
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  line-height: 1.36364;
  letter-spacing: .06em;
  text-transform: uppercase;
  font-family: merriweather,serif;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.thumbnail-mod-1 {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail, .thumbnail-2 {
  padding: 0;
  border: none;
  background: 0 0;
}


/* ----------------Section 2---------------------------- */
.testomonial-head{
  padding-top: 4%;
}
.sec2{
  background: orange;
  color: white;
  padding-left: 24px;
}




/* ----------------Footer---------------------------- */
.address{
  /* margin-top: 50px; */
  font-weight: 600;
}

#address{
  margin-top: 80px;
  margin-bottom: 20px;
}
#subAddress{
  text-align: left;
}



/* 
@media screen and (max-width: 414px) {
  #logo{
  width: 62px;
}
  
  .my-nav{
    background-color: green;
  }

.paragraph p{
  background-color: green; 
}

.my-carousel {
    padding-top: 15%;
}

.navbar-light .navbar-nav .nav-link {
  color: orange;
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
  padding: 10px;
  font-weight: bolder;
  padding-bottom: 5px;
}

.dropdown-menu a {
  color: orange;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 18px;
} */

/* .sec2{
  background: orange;
  color: white;
  padding-left: 1px;
} */
/*.page-wrapper{
  padding-right: 0px;
  padding-left: 0px;  

}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}*/

  /* } */
  /*@media only screen and (width: 684px) {
  

.paragraph p{
  background-color: red; 
}


  .my-nav{
    background-color: pink;
  }

.my-carousel {
    padding-top: 8%;
}
  }*/






/* 

  @media only screen and (max-width: 768px) {
    #logo{
  width: 62px;
}

.my-nav{
    background-color: green;
  }

.my-carousel {
    padding-top: 8%;
}

.navbar-light .navbar-nav .nav-link {
  color: orange;
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
  padding: 10px;
  font-weight: bolder;
  padding-bottom: 5px;
}

.dropdown-menu a {
  color: orange;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 18px;
}


.carousel-caption{
  bottom: 3%;
}

.btn{
  font-size: 15px;
  padding-left: 15px;
    padding-right: 15px;
}
.my-carousel {
  padding-top: 13%;
}
.ih-item.circle{ */
      /* padding-left: 58px; */
      /* margin-left: 66px;
}
.h5, h5 {
  font-size: 1.05rem;
} */
/* .sec2{
  background: orange;
  color: white;
  padding-left: 1px;
  } */

/* 
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .my-carousel {
      padding-top: 7%;
    }

    .ih-item.circle{ */
      /* padding-left: 58px; */
      /* margin-left: 10px; */
/* } */
/* 
.h5, h5 {
  font-size: 1.05rem;
} */
/* .sec2{
  background: orange;
  color: white;
  padding-left: 1px;
  } */
/* }
  } */


  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-right: 1px;
    padding-left: 1px;
  }